#chat{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    border: 1px solid black;
}

#text{
    width: 90%;
    height: 5%;
    height: 20px;
    margin-top: 10px;
    border: 1px solid black;
}

#send{
    width: 8%;
    margin-left: 1%;
    display: inline-block;
}

.container-fluid{
    height: 2000px;
}

.row{
    height: inherit;
}