<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="chat"></div>
            <input type="text" id="text" placeholder="write your message here"/>
            <button id="send">send</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'chat.js' %}"></script>
</body>
</html>